---
layout: default
---


<!-- Main -->
<div id="main">

    <section>

            {% for post in paginator.posts %}
            <div class="row">
                <article>
                    <header>
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %} • <span class="fa fa-comments"></span> <span class="disqus-comment-count" data-disqus-url="{{ site.url }}{{ post.url }}"></span></p>
                    </header>
                    <section>
                        {{ post.excerpt }}
                    </section>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ post.url }}" class="button">Read More</a></li>
                        </ul>
                    </footer>
                </article>
              </div>
            {% endfor %}
            <div class="pagination">
              {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
              {% else %}
                <span class="previous">Previous</span>
              {% endif %}
              <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">Next</a>
              {% else %}
                <span class="next ">Next</span>
              {% endif %}
            </div>
    </section>
</div>
