<!DOCTYPE html>
<html>
  	<head>
  		<title>Heiko Paland</title>
  		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="description" content="" />
  		<meta name="keywords" content="" />
      <link rel="shortcut icon" type="image/x-icon" href="{{ "/images/favicon-flask.ico" | prepend: site.baseurl }}" >
  		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  		<script src="/js/jquery.min.js"></script>
  		<script src="/js/jquery.poptrox.min.js"></script>
  		<script src="/js/skel.min.js"></script>
  		<script src="/js/init.js"></script>
      <script id="dsq-count-scr" src="//palandh.disqus.com/count.js" async></script>
  		<noscript>
  			<link rel="stylesheet" href="/css/skel.css" />
  			<link rel="stylesheet" href="/css/style.css" />
  			<link rel="stylesheet" href="/css/style-xlarge.css" />
  		</noscript>
  		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  	</head>

	<body id="top">

      <header id="header">
          <a href="#" class="image avatar"><img src="/images/avatar.jpg" alt="" /></a>
          <h1><strong>I am <a href="/">Heiko Paland</a></strong></h1>
          <p>#science, #medicine, #rstats</p>

      <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}

        {% if node.title != null %}
          {% if node.layout == "page" %}

          {% unless node.exclude_from_nav %}

            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>

          {% endunless %}

          {% endif %}
        {% endif %}

      {% endfor %}





    </ul>

      </header>





        {{ content }}

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">

              {% if site.github_username %}
              <li>
                <a href="https://github.com/{{ site.github_username }}" class="icon fa-github">
                  <span class="label">GitHub</span>
                </a>
              </li>
              {% endif %}

              {% if site.twitter_username %}
              <li>
                <a href="https://twitter.com/{{ site.twitter_username }}" class="icon fa-twitter">
                  <span class="label">Twitter</span>
                </a>
              </li>
              {% endif %}

              {% if site.linkedin_username %}
              <li>
                <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="icon fa-linkedin">
                  <span class="label">LinkedIn</span>
                </a>
              </li>
              {% endif %}

              {% if site.google_plus_username %}
              <li>
                <a href="https://plus.google.com/{{ site.google_plus_username }}" class="icon fa-google-plus">
                  <span class="label">Google+</span>
                </a>
              </li>
              {% endif %}

              {% if site.facebook_username %}
              <li>
                <a href="https://www.facebook.com/{{ site.facebook_username }}" class="icon fa-facebook">
                  <span class="label">Facebook</span>
                </a>
              </li>
              {% endif %}

              {% if site.dribbble_username %}
              <li>
                <a href="#" class="icon ai-researchgate">
                  <span class="label">Dribbble</span>
                </a>
              </li>
              {% endif %}

              {% if site.researchgate_username %}
              <li>
                <a href="https://www.researchgate.net/profile/{{ site.researchgate_username }}" class="icon icon-ai ai-researchgate">
                  <span class="label">Researchgate</span>
                </a>
              </li>
              {% endif %}

              {% if site.orcid_username %}
              <li>
                <a href="http://orcid.org/{{ site.orcid_username }}" class="icon icon-ai ai-orcid">
                  <span class="label">ORCID</span>
                </a>
              </li>
              {% endif %}

              {% if site.email %}
              <li>
                <a href="mailto:{{ site.email }}" class="icon fa-envelope-o">
                  <span class="label">Email</span>
                </a>
              </li>
              {% endif %}
            </ul>
            <ul class="copyright">
                <li>&copy; Heiko Paland</li>
                <li><a href="/contact_credits.html">credits & contact</a></li>
            </ul>
        </footer>

	</body>
</html>
