---
layout: default
---
<div id="main">
    <article>
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} • <span class="fa fa-comments"></span> <span class="disqus-comment-count" data-disqus-url="{{ site.url }}{{ page.url }}"></span></p>
        </header>

        <section>
            {{ content }}
        <hr />
            {% if page.license == "cc-by" %}
              {% include license/cc-by.html %}
            {% endif %}
        </section>

        <footer>
          {% include disqus_comments.html %}
        </footer>

    </article>

</div>
